@include above(lap) {

	.o-layout {
		display: flex;
		justify-content: center;
	}

	.o-layout__main {
		flex-grow: 1;

		// hack to avoid figure elements with inline width to overflow this container
		overflow: hidden;
	}

	.o-layout__side {
		@include spacing(margin-left, 6rem);
		flex-basis: 300px;
		flex-shrink: 0;
	}

	.single-post:not(.has-sidebar) {

		#{$content-selector} {
			margin-left: percentage(1/3);
		}

		blockquote cite,
		blockquote.inner {
			position: relative;
			margin-left: percentage(1/3);

			&:before {
				position: absolute;
				top: 0.6em;
				left: auto;
				right: 100%;
			}
		}
	}

	.single-post.has-sidebar {
		margin-left: auto;
		margin-right: 0;
	}
}
