$share-button-border-color: #DBDBDB !default;

.sd-title {
	display: none !important;
}

* + .sharedaddy {
	@include spacing(margin-top, 5rem);
}

.sharedaddy[class] .sd-content {

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: -12px 0 0 -12px !important;
	}

	li {
		margin: 12px 0 0 12px !important;
	}

	a {
		color: inherit !important;

		&:before {
			top: 1px;
		}
	}

	.sd-button {
		display: flex;
		align-items: center;
		justify-content: center;

		// H6 Style without baseline()
		@include h6;
		padding: 9px 14px;

		border-radius: 0;
		color: inherit !important;
		background: transparent;
		border: 1px solid $share-button-border-color;
		box-shadow: none;
	}

	// Brand Colors
	$share-color-facebook: 	#3461a1;
	$share-color-twitter: 	#28aae1;
	$share-color-pinterest: #cd2026;
	$share-color-linkedin: 	#0077b5;
	$share-color-reddit: 	#ff4500;
	$share-color-google: 	#dd4b39;
	$share-color-tumblr: 	#35465c;
	$share-color-skype: 	#00aff0;
	$share-color-pocket: 	#ef4056;
	$share-color-whatsapp: 	#25d366;
	$share-color-telegram: 	#0088cc;

	.share-facebook 		> a:before { color: $share-color-facebook; }
	.share-twitter 			> a:before { color: $share-color-twitter; }
	.share-pinterest 		> a:before { color: $share-color-pinterest; }
	.share-linkedin 		> a:before { color: $share-color-linkedin; }
	.share-reddit 			> a:before { color: $share-color-reddit; }
	.share-google-plus-1 	> a:before { color: $share-color-google; }
	.share-tumblr 			> a:before { color: $share-color-tumblr; }
	.share-skype 			> a:before { color: $share-color-skype; }
	.share-pocket 			> a:before { color: $share-color-pocket; }
	.share-telegram 		> a:before { color: $share-color-telegram; }
	.share-jetpack-whatsapp > a:before { color: $share-color-whatsapp; }

}

// Variations
// Button style: Icon only
.sd-social-icon {
	.sd-content.sd-content {
		ul li[class*='share-'] {
			a.sd-button {
				border: none;
				border-radius: 50%;

				&:before {
					color: #fff;
				}

				&.share-print,
				&.share-reddit {
					&:before {
						color: $color-dark;
					}
				}
			}

			a, a:hover, div.option a {
				padding: 9px;
				// border-radius: 0;
			}
		}
	}
}
