p {
	.alignleft {
		margin-left: 0 !important;
		@include spacing(margin-top, 3rem);
		@include spacing(margin-bottom, 3rem);
		@include spacing(margin-right, 3rem);
	}

	.alignright {
		margin-right: 0 !important;
		@include spacing(margin-top, 3rem);
		@include spacing(margin-bottom, 3rem);
		@include spacing(margin-left, 3rem);
	}

	.aligncenter,
	.alignnone {

	}

	.alignleft,
	.alignright,
	.aligncenter,
	.alignnone {
		clear: none;
	}

	.alignnone {
		display: inline-block;
	}
}

// Images at the same level with paragraphs
// <p>..</p>
// <img>
// <p>..</p>
.alignleft,
.alignright,
.aligncenter,
.alignnone {
	@include spacing(margin-top, 4rem);
	@include spacing(margin-bottom, 4rem);
	max-width: 100%;

	&, img {
		display: block;
	}
}

.alignnone,
.aligncenter {
    display: block;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    clear: left;
}

.alignright {
    float: right;
    clear: right;
}


figure {
	&.alignleft,
	&.alignright,
	&.aligncenter,
	&.alignnone {
		@include spacing(margin-top, 1rem);
	}
}

.aligncenter,
.alignnone {

	.entry-content & + p {
		@include spacing(margin-top, 4rem);
	}
}

.alignleft.alignleft,
.alignright.alignright {
	max-width: 50%;
}

.alignleft {
	@include spacing(margin-right, 4rem);
	float: left;
	clear: left;
}

.alignright {
	@include spacing(margin-left, 4rem);
	float: right;
	clear: right;
}

.aligncenter,
.alignnone {
}

.aligncenter {
	&, img {
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption-text {
	@include spacing(padding-top, 1rem);
	@include fontsize(14px);
	@include baseline();
}


// Image Only Child Inside Paragraphs (no text)
// <p>
//      <img>
// </p>
// ...
// will be moved to the same level through JavaScript

