// Footer
// =========================================================

$footer-top-spacing: 0 !default;
$footer-bottom-spacing: 0 !default;

$footer-text-color: #757575 !default;
$footer-links-color: #000000 !default;
$footer-background-color: #FFFFFF !default;

$footer-top-spacing: 0 !default;
$footer-bottom-spacing: 0 !default;

.c-footer {
	@include spacing(padding-top, $footer-top-spacing);
	@include spacing(padding-bottom, $footer-bottom-spacing);
	color: $footer-text-color;

	a {
		color: $footer-links-color;
	}
}

.u-footer-top-spacing {
  @include spacing(padding-top, 0);
}

.u-footer-bottom-spacing {
  @include spacing(padding-bottom, 0);
}

.u-footer-background {
	background-color: $footer-background-color;
}
