// Comment Form

.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		flex: 0 0 100%;
	}

	p:not(:last-child) {
		margin-bottom: $input-vertical-spacing * 2;
	}

	label {
		display: block;
		font-size: 90%;
		@include label;
	}
}

.comment-form-author,
.comment-form-email {
	flex: 0 0 47%;
}

@include above(lap) {
	.comment-form-subscriptions,
	.comment-form .form-submit {
		flex: 0 0 47%;
	}

	.comment-form .form-submit {
		margin-left: auto;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	input {
		width: 100%;
	}
}

.comment__text {
	display: block;
	width: 100%;
	max-width: 100%;
}

.comment-form .form-submit {
	order: 10;
	text-align: right;
}

.comment-form-subscriptions {
	@include spacing(margin-top, .25rem);
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	&.comment-form-subscriptions.comment-form-subscriptions {
		@include spacing(margin-bottom, 2rem);
	}
}

.comment-subscription-form {
	display: flex;
	align-items: center;

	&:first-of-type {
		@include spacing(margin-bottom, 10px);
	}

	input[type="checkbox"] {
		-webkit-appearance: none !important;
		margin-bottom: 0;
	}
}

label.subscribe-label.subscribe-label {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;

	&:before { content: none; }
}

.subscribe-label {
	display: inline-block !important;
}

.comment-form-cookies-consent,
.wpgdprc-checkbox {
	label {
		font-weight: normal;
	}
}
