// Main Content
// =========================================================

$container-width: 1300px !default;
$container-sides-spacing: 70px !default;

$content-width: 720px !default;
$content-vertical-spacing: 60px !default;

$content-background-color: #FFFFFF !default;
$content-selector: '.u-content-width > :not([class*="align"]):not([class*="gallery"]):not(blockquote)' !default;

.u-container-width {
	max-width: $container-width;
}

.u-container-sides-spacing {
	@include spacing(padding-left, $container-sides-spacing);
	@include spacing(padding-right, $container-sides-spacing);
}

.mce-content-body {
	@include spacing(margin-left, $container-sides-spacing);
	@include spacing(margin-right, $container-sides-spacing);
}

.u-content-top-spacing {
	@include spacing(padding-top, $content-vertical-spacing);
}

.u-content-bottom-spacing {
	@include spacing(padding-bottom, $content-vertical-spacing);
}

.u-content-bottom-spacing:not(.screen-reader-text) + .u-content-top-spacing {
	padding-top: 0;
}

.u-content-background {
	background-color: $content-background-color;
}

#{$content-selector},
.mce-content-body {
	margin-right: auto;
	margin-left: auto;
	max-width: $content-width;
}

#{$content-selector} {
	.full-width & {
		max-width: none;
	}
}

$content-border-width: 0 !default;
$content-border-color: transparent !default;
@if ( $content-border-width != 0 ) {

	body {
		@include spacing(margin, $content-border-width);
	}

	.c-border {
		@include spacing(border-width, $content-border-width);
		border-color: $content-border-color;
	}

	.has-border:not(.u-static-header) .c-navbar {
		@include spacing(margin-top, $content-border-width);
	}

	.c-navbar__label {
		@include spacing(margin-top, $content-border-width);
		@include spacing(margin-left, $content-border-width);
	}

	.c-navbar__container {
		border: 0 solid transparent;
		@include spacing(border-width, $content-border-width);
	}

	.c-overlay__close {
		@include spacing(margin-top, $content-border-width);
		@include spacing(margin-right, $content-border-width);
	}
}
