.entry-content {
    position: relative;

    .cats > a {
        @include btn;
        font-size: 15px;
        font-weight: bolder;
        padding: 9px 19px 10px 20px;
        margin-top: 3px;
    }

    .cats__title {
        display: none;
    }

    * + .cats {
        @include spacing(margin-top, 4rem);
    }

    * + .tags {
        @include spacing(margin-top, 3rem);
    }

    .tags__title {
        display: inline-block;

        &:after {
            content: ": ";
        }
    }

    .tags a {
        @include spacing(margin-left, 1rem);

        &:not(:last-child):after {
            content: ",";
        }
    }

    .edit-link {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        @include above(lap) {
            display: block;
        }

        a {
            font-size: 90%;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }
}

.entry-date + .entry-title {
    @include spacing(padding-top, 3rem);
}

.entry-title:last-child {
	padding-bottom: 0;
}
