$post-meta-item-spacing: 0.5rem !default;
$meta-title-font: () !default;
$meta-category-items-font: () !default;
$meta-tags-items-font: () !default;

.entry-content {

  .cats,
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    // cleanup up possible properties inherited by headings
    &__title {
      margin: 0;
      padding: 0;
      @include leading-map($meta-title-font);
    }

    // cleanup possible properties inherited by the anchor tag
    > a {
        border-bottom: 0;
    }

    // add separator after the meta title
    &__title:after {
      content: ": ";
    }

    > * {
      @include spacing(margin-right, $post-meta-item-spacing);
    }
  }

  .cats > a {
    @include leading-map($meta-category-items-font);
  }

  .tags > a {
    @include leading-map($meta-tags-items-font);
  }

  // add separator between items
  .tags a:not(:last-child):after {
    content: ",";
  }
}
