.entry-content {
  position: relative;

  .cats,
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &__title {
      margin: 0;
      padding: 0;
    }

    &__title:after {
      content: ": ";
    }

    * + & {
      @include spacing(margin-top, 2.5rem);
    }

    > * {
      @include spacing(margin-right, 0.5rem);
    }

    > a {
        border-bottom: 0;
    }
  }

  .tags a:not(:last-child):after {
    content: ",";
  }
}

.edit-link {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  @include above(lap) {
    display: block;
  }

  a {
    font-size: 90%;
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.entry-date + .entry-title {
  @include spacing(padding-top, 3rem);
}

.entry-title:last-child {
  padding-bottom: 0;
}
