// remove max width from product archive shortcode
// used $content-selector in order to have a selector with greater specificity

// #{$content-selector}.woocommerce {
.woocommerce-product-archive {
    max-width: none;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
        flex: 1 0 100%;
    }

    > .woocommerce-result-count,
    > form[class] {
        @include spacing(margin-bottom, 20px);
    }

    > .form-wppp-select {
        margin-left: 0 !important;
        float: none !important;
    }

    @include above(62.5em) {

        > .woocommerce-result-count {
            margin-right: auto;
        }

        // form.woocommerce-ordering
        // and form.form-wppp-select from WooCommerce Products Per Page plugin
        > .woocommerce-result-count,
        > form[class] {
            flex: 0 0 auto;
        }

        > form + form[class] {
            @include spacing(margin-left, 20px);
        }
    }
}

.woocommerce-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    @include spacing(margin-left, -20px);
    list-style: none;

    > * {
        @include spacing(margin-left, 20px);
    }

    .u-underlined-links & {
        a {
            text-decoration: none;
        }

        a:hover,
        .active {
            text-decoration: underline;
        }
    }
}

.woocommerce-header {
    @include spacing(padding-bottom, 20px);
}

.entry-content {
    > .woocommerce {
        @include spacing(margin-bottom, 40px);
    }
}

.c-card__title mark {
    background: none;
    color: inherit;
}

.c-gallery--woocommerce {
    .c-card__letter {
        display: none;
    }
}
