
.woocommerce-cart {

    @include specific(2) {
        .entry-title {
            max-width: none;
        }

        .entry-header {
            @include spacing(padding-bottom, 2rem);
        }
    }
}

.woocommerce-cart table.cart {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    @include spacing(margin-bottom, 9rem);

    td {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    td.product-name {
        a {
            border-bottom: 0;
            text-decoration: none;
        }
    }

    td:first-child {
        padding-left: 0;
    }

    td:last-child {
        padding-right: 0;
    }

    .product-thumbnail a {
        box-shadow: none;
        border-bottom: 0;
        background: none;
    }

    .product-remove a {
        @include close(18px);
        color: inherit !important;
        background: none;
    }

    a {
        display: block;
    }

    img {
        display: block;
        width: 150px;
    }

    .coupon {
        display: flex;
    }
}

.shop_table {

    @include specific(2) {
        border: 0;
        margin-bottom: 0;

        td, th {
            padding-top: 1.5em;
            padding-bottom: 1.5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &[class] #shipping_method li {
        margin-bottom: 20px;
    }

    .cart-subtotal,
    .order-total {
        td:last-child {
            text-align: right;
        }
    }
}

.cart_totals .checkout-button {
    @include specific(3) {
        display: block;
    }
}

.woocommerce-cart .wc-proceed-to-checkout {
    padding: 0;
}

.woocommerce-cart #content table.cart[class] .coupon {
    .input-text {
        width: 200px;
    }
}

.shipping-calculator-button {
    opacity: 0.5;

    @include specific(2) {
        &:after {
            content: none;
        }
    }
}