
.woocommerce-cart {

    @include specific(2) {
        .entry-title {
            max-width: none;
        }

        .entry-header {
            @include spacing(padding-bottom, 2rem);
        }
    }
}

.woocommerce-cart table.cart {

    @include spacing(margin-bottom, 9rem);

    td {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    td.product-name {
        a {
            border-bottom: 0;
            text-decoration: none;
        }
    }

    .product-thumbnail a {
        box-shadow: none;
        border-bottom: 0;
        background: none;
    }

    .product-remove a {
        @include close(18px);
        color: inherit !important;
        background: none;
    }

    a {
        display: block;
    }

    img {
        display: block;
        width: 150px;
    }

    .coupon {
        display: flex;
    }
}

.shop_table {

    tr {
        border: 0;
    }

    @include specific(3) {
        border-left: 0;
        border-right: 0;
        border-radius: 0;

        margin-bottom: 0;

        .cart-collaterals & {
            border-bottom: 0;
        }

        td, th {
            padding-top: 1.5em;
            padding-bottom: 1.5em;

            @include above( $woocommerce-mobile-breakpoint ) {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        td {
            word-wrap: break-word;
            white-space: normal;
        }
    }

    &[class] #shipping_method li {
        @include spacing( margin-bottom, 20px );
    }

    .cart-subtotal,
    .order-total {
        td:last-child {
            text-align: right;
        }
    }
}

.cart_totals .checkout-button {
    @include specific(3) {
        display: block;
    }
}

.woocommerce-cart .wc-proceed-to-checkout {
    padding: 0;
}

.woocommerce-cart #content table.cart[class] .coupon {
    .input-text {
        width: 200px;
    }
}

.shipping-calculator-button {
    opacity: 0.5;

    @include specific(2) {
        &:after {
            content: none;
        }
    }
}

.woocommerce-cart-form + .cart-collaterals {
    @include spacing( margin-top, 120px );
}

.woocommerce-cart-form__contents {
    table-layout: auto;
}

.woocommerce-cart .actions .coupon {

    @include specific(2) {
        display: flex;
        margin-left: -10px;

        > .input-text,
        > .button {
            margin-left: 10px;
        }

        > .input-text {
            flex-grow: 1;
            margin-right: auto;
        }
    }
}

// avoid text clipping caused by explicit width set by woocommerce CSS
.woocommerce .quantity .qty {
    padding-left: 0;
    padding-right: 0;
}

.shop_table .shipping [data-title]:before {
    @include spacing( margin-bottom, 20px );

    @include below( $woocommerce-mobile-breakpoint ) {
        float: none;
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 400;
}

.woocommerce table.shop_table th{
    font-weight: 500;
}
