@font-face {
  font-family: 'woocommerce_icons';
  src:  url('../fonts/custom-fontawesome/icons.eot?kdq7n6');
  src:  url('../fonts/custom-fontawesome/icons.eot?kdq7n6#iefix') format('embedded-opentype'),
  url('../fonts/custom-fontawesome/icons.ttf?kdq7n6') format('truetype'),
  url('../fonts/custom-fontawesome/icons.woff?kdq7n6') format('woff'),
  url('../fonts/custom-fontawesome/icons.svg?kdq7n6#rosa2_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
