
// cart
.c-mini-cart {
    position: fixed;
    @include wp-offset(top, 0);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;

    .widget_shopping_cart {

        &:before {
            content: "";
            display: block;
            height: 10px;
            opacity: 0.2;

            box-shadow: inset 0 10px 10px -10px currentColor;
        }
    }

    .woocommerce-mini-cart[class] {
        padding: 40px;
    }

    .woocommerce-mini-cart__total {
        display: flex;
        flex-wrap: wrap;

        @include specific(2) {
            border-top: 0;
            padding-top: 0;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }

        &:before {
            content: "";
            display: block;
            height: 10px;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 20px;
            flex: 1 0 100%;
            opacity: 0.2;

            box-shadow: inset 0 -10px 10px -10px currentColor;
        }

        .amount {
            margin-left: auto;
        }
    }

    .woocommerce-mini-cart__buttons {
        padding: 20px;
        padding-top: 0;

        @include specific(4) {
            > a {
                display: block;
            }

            > a + a {
                margin-top: 10px;
            }
        }
    }
}

.c-mini-cart__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #000000;
    opacity: 0.2;
}

.c-mini-cart__flyout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 270px;
    background: #FFFFFF;

    // stretch elements vertically
    &,
    .widget_shopping_cart,
    .widget_shopping_cart_content {
        display: flex;
        flex-direction: column;
    }

    .widget_shopping_cart,
    .widget_shopping_cart_content,
    .woocommerce-mini-cart {
        flex-grow: 1;
    }
}

.c-mini-cart[class] {

    .cart_list,
    .product_list_widget {

        li {
            padding: 0;
        }

        li + li {
            margin-top: 30px;
        }

        // put the image on its own row and remove woocommerce styles
        a:not(.remove) {
            display: flex;
            flex-direction: column;
            text-decoration: none;

            @include leading-map(map-merge($h3, (
                spacing-top: false,
                spacing-bottom: false
            )));
        }

        // move the remove button to bottom right next to quantity
        a.remove[class] {
            top: auto;
            left: auto;
            bottom: 0.25em;
            right: 0;

            // restyle remove button
            background: none;

            @include close(10px, 1px, false);

            // woocommerce thinks this should be important
            color: inherit !important;
        }

        img {
            display: block;
            float: none;
            width: auto;
            margin: 0;
            margin-top: 6px;
            // reverse image and title order
            order: 10;
        }

        .quantity {
            @include leading-map(map-merge($h4, (
                spacing-top: false,
                spacing-bottom: false
            )));
        }
    }
}

.c-mini-cart__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.c-mini-cart__title[class] {
    margin-bottom: 0;
}

.c-mini-cart__close {
    @include close(18px);
    margin-left: auto;
    cursor: pointer;
}

// show / hide for c-mini-cart
.c-mini-cart__overlay,
.c-mini-cart__flyout {
    transition: $transition--default;
}

.c-mini-cart:not(.c-mini-cart--visible) {
    pointer-events: none;

    .c-mini-cart__overlay {
        opacity: 0;
    }

    .c-mini-cart__flyout {
        transform: translate3d(100%,0,0);
    }
}