.woocommerce-notices-wrapper {
  margin-top: 2em;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-width: .2em;
  border-radius: 4px;

  display: flex;
  align-items: baseline;

  padding-left: 1em;

  &:before {
    position: relative;
    top: unset;
    left: unset;

    margin-right: 1em;

    border: 5px solid;

    width: 23px;
    height: 23px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'woocommerce_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    border-radius: 50%;
  }

  a {
    @include below(tablet) {
      flex-basis: 100%;
      padding-left: 2.3em;
    }
  }
}

.woocommerce-error {
  flex-wrap: wrap;
}

.woocommerce-error {
  > li {
    flex-basis: 100%;
    padding-left: 2.3em !important;

    &:first-child {
      flex-basis: auto;
      padding-left: 0 !important;
    }
  }
}

.woocommerce-error:before {
  content: "\f057";
  border-color: rgba(#b81c23, .5)
};
.woocommerce-info:before {
  content: "\f06a";
  border-color: rgba(#1e85be, .5)
};
.woocommerce-message:before {
  content: "\f058";
  border-color: rgba(#8fae1b, .5)
};
