@import "../../base/scss/tools/all";
@import "../../base/scss/mixins/all";

$woocommerce-mobile-breakpoint: 768px;

@import "archive";
@import "card";
@import "pagination";

@import "single-product";
@import "reviews";

@import "sale-flash";
@import "mini-cart";

@import "cart";
@import "checkout";

.entry-title--woocommerce,
.woocommerce-products-header__title {
    text-align: center;
}

.menu-item--cart a {
    padding-right: 2em;
    position: relative;
}

.cart-count {
    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    transform-origin: 100% 50%;
    transform: translate(0, -50%) scale(0.7);

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
    }
}

.woocommerce-message {
    @include spacing(margin-bottom, 40px);
}

.woocommerce-store-notice[class][class] {
    position: relative;
    top: 0;

    padding: 0.75em 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.5;
    box-shadow: none;

    &:not(.woocommerce-store-notice--visible) {
        display: none !important;
    }
}

.woocommerce-store-notice__dismiss-link {
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);

    width: 1em;
    height: 1em;

    overflow: hidden;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        width: 1px;
        height: 1em;
        background: currentColor;
    }

    &:before {
        transform:  translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform:  translate(-50%, -50%) rotate(-45deg);
    }
}
