.c-branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .c-navbar__zone--middle & {
        text-align: center;
    }

    a, img {
        display: block;
    }

    img {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        transition: filter $transition--macro ease-in-out;
    }
}

.site-title,
.site-description {
    color: inherit;
}

.site-description:empty {
    display: none !important;
}