// HEADER
// ========================================

// Layout
// ----------------------------------------
$logo-height: 					23px 			!default;
$header-height: 				100px 			!default;
$header-links-spacing: 			40px 			!default;
// @todo $header-position
// @todo $header-width
$header-sides-spacing: 			50px 			!default;

// Colors
// ----------------------------------------
$header-links-color: 			#000000 		!default;
$header-links-active-color: 	#000000 		!default;
// @todo $header-links-active-style
$header-background-color: 		#FFFFFF 		!default;

// Fonts
// ----------------------------------------
$logo-font-family: 				sans-serif 		!default;
$logo-font-size: 				72px 			!default;
$logo-line-height: 				(80/72) 		!default;
$logo-font-weight: 				300 			!default;
$logo-letter-spacing: 			normal 			!default;
$logo-text-transform: 			none 			!default;
$logo-spacing-top: 				0 				!default;
$logo-spacing-bottom: 			2rem 			!default;
$logo-cap-height: 				0.74 			!default;

$header-font-family: 			sans-serif 		!default;
$header-font-size: 				72px 			!default;
$header-line-height: 			(80/72) 		!default;
$header-font-weight: 			300 			!default;
$header-letter-spacing: 		normal 			!default;
$header-text-transform: 		none 			!default;
$header-spacing-top: 			0 				!default;
$header-spacing-bottom: 		2rem 			!default;
$header-cap-height: 			0.74 			!default;

.site-logo img,
.custom-logo-link img {
	max-height: $logo-height;
}

.site-title {
	@include leading-map((
		font-family: $logo-font-family,
		font-size: $logo-font-size,
		line-height: $logo-line-height,
		font-weight: $logo-font-weight,
		letter-spacing: $logo-letter-spacing,
		text-transform: $logo-text-transform,
		spacing-top: $logo-spacing-top,
		spacing-bottom: $logo-spacing-bottom,
		cap-height: $logo-cap-height
	));
}

.site-header {
	background-color: $header-background-color;

	transition: $transition--default;
	transition-property: background-color;
}

.c-navbar {
	height: $header-height;

	@include leading-map((
		font-size: $header-font-size,
		line-height: $header-line-height,
		font-family: $header-font-family,
		font-weight: $header-font-weight,
		letter-spacing: $header-letter-spacing,
		text-transform: $header-text-transform
	));

	transition: $transition--default;
	transition-property: color;
}


.c-navbar ul {
	@include spacing(margin-left, -$header-links-spacing);
}

.c-navbar li {
	@include spacing(margin-left, $header-links-spacing);
}

.c-navbar {

	&, li {
		color: $header-links-color;
	}

	li:hover,
	[class*="current-menu"] {
		color: $header-links-active-color;

		.u-underlined-header-links & {
			text-decoration: underline;
		}
	}
}

.u-header-sides-spacing {
	@include spacing(padding-left, $header-sides-spacing);
	@include spacing(padding-right, $header-sides-spacing);
}


.u-site-header-full-width {
	.site-header .u-container-width {
		max-width: none;
	}
}

.u-site-header-sticky--top {
	@include above(lap) {
		.site-header {
			background: transparent;
		}

		.c-navbar,
		.c-navbar li {
			color: #FFFFFF;
		}
	}
}
