// Forms General Options

// @todo more semantic for these variables
$color-dark: #3B3B3B !default;
$color-white: #FFFFFF !default;

$input-color: #3B3B3B !default;
$input-border-color: #E0E0E0 !default;
$input-background-color: #FFFFFF !default;
$input-font-size: 17px !default;
$input-line-height: 1.5 !default;
$input-font-weight: 400 !default;
$input-font-family: sans-serif !default;

$placeholder-color: #3B3B3B !default;

$input-focus-border-color: #383838 !default;
$input-focus-background-color: #FFFFFF !default;

$input-disabled-color: #FFFFFF !default;
$input-disabled-background-color: #EBEBEB !default;

// Fonts
$label-font-size: 14px !default;
$label-line-height: 1.5 !default;
$label-font-weight: 500 !default;
$label-font-family: sans-serif !default;

$legend-font-size: 12px !default;
$legend-color: #3B3B3B !default;

$button-background-color: #3B3B3B !default;
$button-color: #FFFFFF !default;

// Spacing
$input-spacing-bottom: 12px !default;
$input-spacing-right: 14px !default; // Checkboxes and Radios

@mixin field {
  padding: 13px 19px 15px;
  border: 1px solid $input-border-color;
  border-radius: 0;

  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    border-color: $input-focus-border-color;
  }
}

@mixin input {
  @include field;
  @include fontsize($input-font-size);
  line-height: $input-line-height;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  color: $input-color;

  width: 100%;
  max-width: 100%;

  -webkit-font-smoothing: initial;
}

@mixin textarea {
  @include field;
  @include fontsize($input-font-size);
  line-height: $input-line-height;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  color: $input-color;

  width: 100%;
  max-width: 100%;

  min-height: 120px;
  resize: vertical;

  -webkit-font-smoothing: initial;
}

@mixin select {
  @include field;
  @include fontsize($input-font-size);
  line-height: $input-line-height;
  font-family: $input-font-family;

  width: 100%;
  padding-right: 50px;

  background: $input-background-color url('assets/images/arrow-caret.svg') calc(100% - 17px) center no-repeat;
  background-size: 9px 5px;

  -webkit-appearance: none;
  -webkit-font-smoothing: initial;
}

@mixin taxonomy-select {
  width: auto;
  background: url('assets/images/select-arrow.svg') 100% center no-repeat;
  background-size: 8px 11px;
  padding: 0 10px 0 0;
  border: none;

  &::-ms-expand {
    display: none;
  }
}

@mixin label {
  @include fontsize($label-font-size);
  line-height: $label-line-height;
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include spacing(padding-bottom, 1rem);
  margin: 0;
}

@mixin checkbox {
  position: relative;
  border: 1px solid $input-border-color;
  border-radius: 0;

  width: 21px !important;
  height: 21px !important;
  margin-right: $input-spacing-right;
  margin-bottom: $input-spacing-bottom;
  top: 1px;

  background-color: $color-white;
  -webkit-appearance: none;
  cursor: pointer;
}

@mixin submit_button {
  @include btn;
  -webkit-font-smoothing: auto;
  @include spacing(margin-bottom, 2rem);
}

@include placeholder() {
  color: $placeholder-color;
  opacity: .7;
  font-weight: $input-font-weight;
  font-style: normal;
}

input {
  &[type="text"],
  &[type="tel"],
  &[type="number"],
  &[type="date"],
  &[type="email"],
  &[type="password"],
  &[type="url"] {
    @include input;
  }
}

input.disabled,
input[disabled="disabled"],
input[disabled] {
  background: $input-disabled-background-color;
}

input[type="checkbox"] {
  @include checkbox;

  &:checked {
    border-color: $color-dark;
    background: $color-white url('assets/images/checkbox.svg') center center no-repeat;
    background-size: 100% 100%;
    outline: 0;
  }
}

input[type="radio"] {
  @include checkbox;
  border-radius: 50%;

  &:checked {
    border: 7px solid $color-dark;
    outline: 0;
  }
}

input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="button"],
button[type="reset"] {
  @include submit_button;
}

input[type="file"] {
  @include fontsize(16px);
  font-family: $input-font-family;
  width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
  display: block;
  margin-bottom: 0 !important;
  padding: 12px 28px;
  border: 0 solid transparent;
  border-right-width: 1em;
  background-clip: padding-box;
  overflow: visible;

  font-family: $input-font-family;
  font-weight: 600;
  text-align: center;

  color: $button-color;
  background-color: $button-background-color;

  transition: $transition--default;
  vertical-align: middle;
  cursor: pointer;

  &:focus, &:active {
    outline: 0;
    box-shadow: none;
    background-color: $button-background-color;
  }

  &:hover {
    background-color: $color-dark;
  }
}

textarea {
  @include textarea;
}

select {
  @include select;

  &[multiple] {
    background: none;
    padding-right: 13px;
  }
}

fieldset {
  border: 0;

  legend {
    @include fontsize($legend-font-size);
    font-weight: $label-font-weight;
    text-transform: uppercase;
    color: $legend-color;

    padding: 0 !important;
  }

  > div {
    @include spacing(margin-top, 1rem);
  }
}

