$layout-spacing: 4rem !default;
$layout-side-width: percentage(1/3) !default;

@include above(lap) {

	.o-layout {
		display: flex;

		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
	}

	.o-layout__full {
		width: 100%;
		flex: 0 0 100%;
	}

	.o-layout__main {
		width: calc(100% - #{$layout-side-width} - #{$layout-spacing});
		flex: 1 1 auto;

		// hack to avoid figure elements with inline width to overflow this container
    // @todo find a better solution since crops side titles in Felt
		// overflow: hidden;
	}

	.o-layout__side {
		width: $layout-side-width;
		@include spacing(margin-left, $layout-spacing);
		flex: 0 0 auto;
	}
}

.single-post:not(.has-sidebar) {

	#{$content-selector} {
		margin-left: percentage(1/3);
	}

	blockquote cite,
	blockquote.inner {
		position: relative;
		margin-left: percentage(1/3);

		&:before {
			position: absolute;
			top: 0.6em;
			left: auto;
			right: 100%;
		}
	}
}

.single-post.has-sidebar {
  #{$content-selector} {
    margin-left: auto;
    margin-right: 0;
  }
}
