.c-slider {
    position: relative;

    width: 100%;
    height: calc(100vh - #{2 * $header-height});

    border: 0 solid transparent;
    border-bottom-width: 30px;
}

.c-slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-slider__image {
    position: relative;
    top: 50%;

    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;

    transform: translate(0, -50%);
}

.c-slider__header {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: $header-height;

    display: flex;
    align-items: center;
    justify-content: center;


    > * {
        flex-shrink: 0;
    }

    > :first-child:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    .c-meta__share-link {
        color: inherit;
        border-bottom-width: 0;
        margin-right: auto;

        &:after {
            display: none;
        }
    }

    .c-page-header {
        @extend %pt-s;
        @extend %pb-s;

        flex: auto 0 0;

        height: $header-height;
        margin: 0;
        margin-left: 3rem;
        margin-right: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        > :first-child {
            padding-top: 0;
            margin-top: 0;
        }

        > :last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .c-page-header__title {
            @extend .fs-15;
            @include baseline(18/15, map-get($font-headings, cap-height));
            letter-spacing: .133em;

            &:after {
                padding-bottom: 0;
            }
        }
    }

    .c-page-header__side {
        flex: 1 1 0;

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }
}

@include below(lap) {

    .c-page-header__taxonomy {
        margin-left: 0;

        &:before {
            content: none;
        }
    }
}

.c-clone {
    perspective: 1000;
    z-index: 10000;
    will-change: transform;
    backface-visibility: hidden;

    img {
        transform-origin: 0 0;
        will-change: transform;
        backface-visibility: hidden;
    }
}
