@import "defaults";

$editor-style: true;
$content-selector: '.mce-content-body';

@import "tools/all";

@import "generic/normalize";
@import "generic/reset";

.mce-item-table {

  &, td, th, caption {
    border: 0;
  }
}

@import "typography";

@import "plugins/gridable";

@debug $content-selector;

#{$content-selector} {
  border: 0 solid transparent;
	margin: 0 auto;
	padding: 0;

	.gallery {
		padding: 10px;
		margin: 0;
	}

	> * {
		margin-left: auto;
		margin-right: auto;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;

    .alignleft,
    .alignright {
      max-width: 50%;
    }
	}

	dl {
		display: block;
	}
}

