@import "tools/all";

@import "generic/normalize";
@import "generic/reset";

@import "typography/default";

@import "objects/row";

$content-selector: 			'.mce-content-body'		!default;
$container-width: 			1300px 					!default;

html {
	@include spacing(padding, 40px);
}

#{$content-selector} {
	max-width: $container-width;
	margin: 0 auto !important;
	padding: 0;

	.gallery {
		padding: 10px;
		margin: 0;
	}

	> * {
		margin-left: auto;
		margin-right: auto;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	dl {
		display: block;
	}
}

