// The desktop navbar layout
%flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-navbar {
    @extend %flex-center-all;

    li {
        display: inline-block;
    }

	> .c-navbar__zone {
		display: none;
	}
}

.c-navbar__checkbox,
.c-navbar__label {
	display: none;
}

.c-navbar__content {
    @extend %flex-center-all;
    width: 100%;
}

.c-navbar__zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.c-navbar__zone {
    &:first-child:not(:last-child),
    &:last-child:not(:first-child) {
        flex: 1 1 0;
    }
}

.c-navbar__zone--push-left {
    justify-content: flex-start;
    text-align: left;
}

.c-navbar__zone--push-right {
    justify-content: flex-end;
    text-align: right;
}
