/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */
.woocommerce-product-archive {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .woocommerce-product-archive > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
  .woocommerce-product-archive > .woocommerce-result-count,
  .woocommerce-product-archive > .woocommerce-ordering {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.woocommerce-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-left: -20px;
  list-style: none; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-categories {
      margin-left: -16px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-categories {
      margin-left: -13.33333px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-categories {
      margin-left: -11.42857px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-categories {
      margin-left: -10px; } }
  .woocommerce-categories > * {
    margin-left: 20px; }
    @media only screen and (max-width: 1360px) {
      .woocommerce-categories > * {
        margin-left: 16px; } }
    @media only screen and (max-width: 1024px) {
      .woocommerce-categories > * {
        margin-left: 13.33333px; } }
    @media only screen and (max-width: 768px) {
      .woocommerce-categories > * {
        margin-left: 11.42857px; } }
    @media only screen and (max-width: 320px) {
      .woocommerce-categories > * {
        margin-left: 10px; } }
  .u-underlined-links .woocommerce-categories a {
    text-decoration: none; }
  .woocommerce-categories a:hover,
  .woocommerce-categories .active {
    text-decoration: underline; }

.woocommerce-header {
  margin-bottom: 20px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-header {
      margin-bottom: 16px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-header {
      margin-bottom: 13.33333px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-header {
      margin-bottom: 11.42857px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-header {
      margin-bottom: 10px; } }

.entry-content > .woocommerce {
  margin-bottom: 40px; }
  @media only screen and (max-width: 1360px) {
    .entry-content > .woocommerce {
      margin-bottom: 31.21951px; } }
  @media only screen and (max-width: 1024px) {
    .entry-content > .woocommerce {
      margin-bottom: 25.6px; } }
  @media only screen and (max-width: 768px) {
    .entry-content > .woocommerce {
      margin-bottom: 21.69492px; } }
  @media only screen and (max-width: 320px) {
    .entry-content > .woocommerce {
      margin-bottom: 18.82353px; } }

.c-card__title mark {
  background: none;
  color: inherit; }

.add_to_cart_inline .button[class][class][class] {
  margin-left: 10px; }
  @media only screen and (max-width: 1360px) {
    .add_to_cart_inline .button[class][class][class] {
      margin-left: 9.69697px; } }
  @media only screen and (max-width: 1024px) {
    .add_to_cart_inline .button[class][class][class] {
      margin-left: 9.41176px; } }
  @media only screen and (max-width: 768px) {
    .add_to_cart_inline .button[class][class][class] {
      margin-left: 9.14286px; } }
  @media only screen and (max-width: 320px) {
    .add_to_cart_inline .button[class][class][class] {
      margin-left: 8.88889px; } }

.add_to_cart_inline ins {
  text-decoration: none; }

.c-card__badge--woocommerce {
  display: block;
  width: auto;
  height: auto;
  top: 16px;
  left: 16px;
  right: auto; }
  @media only screen and (max-width: 1360px) {
    .c-card__badge--woocommerce {
      top: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-card__badge--woocommerce {
      top: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-card__badge--woocommerce {
      top: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-card__badge--woocommerce {
      top: 10.58201px; } }
  @media only screen and (max-width: 1360px) {
    .c-card__badge--woocommerce {
      left: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-card__badge--woocommerce {
      left: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-card__badge--woocommerce {
      left: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-card__badge--woocommerce {
      left: 10.58201px; } }
  .c-card__badge--woocommerce:before, .c-card__badge--woocommerce:after {
    content: none; }
  .c-card__badge--woocommerce .c-btn {
    pointer-events: none; }

.c-card__add-to-cart {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  @media only screen and (max-width: 1360px) {
    .c-card__add-to-cart {
      left: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-card__add-to-cart {
      left: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-card__add-to-cart {
      left: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-card__add-to-cart {
      left: 10.58201px; } }
  @media only screen and (max-width: 1360px) {
    .c-card__add-to-cart {
      right: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-card__add-to-cart {
      right: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-card__add-to-cart {
      right: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-card__add-to-cart {
      right: 10.58201px; } }
  @media only screen and (max-width: 1360px) {
    .c-card__add-to-cart {
      bottom: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-card__add-to-cart {
      bottom: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-card__add-to-cart {
      bottom: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-card__add-to-cart {
      bottom: 10.58201px; } }
  .c-card:hover .c-card__add-to-cart {
    opacity: 1; }
  .c-card__add-to-cart .added_to_cart[class] {
    display: none; }
  .c-card__add-to-cart .add_to_cart_button {
    display: block; }

.woocommerce nav.woocommerce-pagination ul {
  border: 0;
  margin: 0; }
  .woocommerce nav.woocommerce-pagination ul li {
    border: 0;
    float: none;
    overflow: visible; }
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span {
      padding: 0;
      min-width: 0;
      font: inherit; }
    .woocommerce nav.woocommerce-pagination ul li a:focus,
    .woocommerce nav.woocommerce-pagination ul li a:hover,
    .woocommerce nav.woocommerce-pagination ul li span.current {
      background-color: transparent; }

.woocommerce-product-gallery[class][class][class] {
  margin-bottom: 0; }
  .woocommerce-product-gallery[class][class][class] .flex-viewport + .flex-control-thumbs {
    margin-top: 16px; }
    @media only screen and (max-width: 1360px) {
      .woocommerce-product-gallery[class][class][class] .flex-viewport + .flex-control-thumbs {
        margin-top: 14.1844px; } }
    @media only screen and (max-width: 1024px) {
      .woocommerce-product-gallery[class][class][class] .flex-viewport + .flex-control-thumbs {
        margin-top: 12.73885px; } }
    @media only screen and (max-width: 768px) {
      .woocommerce-product-gallery[class][class][class] .flex-viewport + .flex-control-thumbs {
        margin-top: 11.56069px; } }
    @media only screen and (max-width: 320px) {
      .woocommerce-product-gallery[class][class][class] .flex-viewport + .flex-control-thumbs {
        margin-top: 10.58201px; } }
  .woocommerce-product-gallery[class][class][class] .flex-control-thumbs {
    margin-left: -16px; }
    @media only screen and (max-width: 1360px) {
      .woocommerce-product-gallery[class][class][class] .flex-control-thumbs {
        margin-left: -14.1844px; } }
    @media only screen and (max-width: 1024px) {
      .woocommerce-product-gallery[class][class][class] .flex-control-thumbs {
        margin-left: -12.73885px; } }
    @media only screen and (max-width: 768px) {
      .woocommerce-product-gallery[class][class][class] .flex-control-thumbs {
        margin-left: -11.56069px; } }
    @media only screen and (max-width: 320px) {
      .woocommerce-product-gallery[class][class][class] .flex-control-thumbs {
        margin-left: -10.58201px; } }
    .woocommerce-product-gallery[class][class][class] .flex-control-thumbs > * {
      padding-left: 16px; }
      @media only screen and (max-width: 1360px) {
        .woocommerce-product-gallery[class][class][class] .flex-control-thumbs > * {
          padding-left: 14.1844px; } }
      @media only screen and (max-width: 1024px) {
        .woocommerce-product-gallery[class][class][class] .flex-control-thumbs > * {
          padding-left: 12.73885px; } }
      @media only screen and (max-width: 768px) {
        .woocommerce-product-gallery[class][class][class] .flex-control-thumbs > * {
          padding-left: 11.56069px; } }
      @media only screen and (max-width: 320px) {
        .woocommerce-product-gallery[class][class][class] .flex-control-thumbs > * {
          padding-left: 10.58201px; } }

.woocommerce-product-gallery__image a {
  display: block;
  padding: 0;
  background-color: transparent; }

.woocommerce div.product div.summary {
  margin-bottom: 0; }

.woocommerce form.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .woocommerce form.cart .group_table {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .woocommerce form.cart .qty {
    display: inline-block;
    /* [1] */
    vertical-align: middle;
    /* [2] */
    text-align: center;
    /* [4] */
    cursor: pointer;
    /* [5] */
    padding: 0.75em 1.75em;
    border: 0 solid #222222;
    margin: 0;
    color: #FFF;
    background-color: #222;
    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    height: 100%;
    width: 4em;
    padding-left: 1em;
    padding-right: 0.3em; }
    .u-buttons-rounded .woocommerce form.cart .qty {
      border-radius: 0.3em; }
    .u-buttons-pill .woocommerce form.cart .qty {
      border-radius: 999em; }
    .u-underlined-links .woocommerce form.cart .qty {
      text-decoration: none; }
    .u-buttons-outline .woocommerce form.cart .qty {
      background: none;
      border: 2px solid currentColor; }
      .u-buttons-outline .woocommerce form.cart .qty:hover, .u-buttons-outline .woocommerce form.cart .qty:active, .u-buttons-outline .woocommerce form.cart .qty:focus {
        background: none; }
  .woocommerce form.cart > .button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .woocommerce form.cart[class][class] .group_table,
  .woocommerce form.cart[class][class] .group_table tbody,
  .woocommerce form.cart[class][class] .group_table tr:last-child {
    border-bottom: 0; }
  .woocommerce form.cart[class][class] .group_table td {
    vertical-align: middle; }
  .woocommerce form.cart .woocommerce-grouped-product-list-item__price {
    text-align: right; }
  .woocommerce form.cart .added_to_cart {
    display: none; }

.woocommerce-product-details__short-description {
  margin-bottom: 48px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-product-details__short-description {
      margin-bottom: 37.10145px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-product-details__short-description {
      margin-bottom: 30.23622px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-product-details__short-description {
      margin-bottom: 25.51495px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-product-details__short-description {
      margin-bottom: 22.06897px; } }

.c-woo-tabs {
  clear: both;
  overflow: hidden; }

.wc-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-left: -48px; }
  @media only screen and (max-width: 1360px) {
    .wc-tabs {
      margin-left: -37.10145px; } }
  @media only screen and (max-width: 1024px) {
    .wc-tabs {
      margin-left: -30.23622px; } }
  @media only screen and (max-width: 768px) {
    .wc-tabs {
      margin-left: -25.51495px; } }
  @media only screen and (max-width: 320px) {
    .wc-tabs {
      margin-left: -22.06897px; } }
  .wc-tabs > * {
    margin-left: 48px; }
    @media only screen and (max-width: 1360px) {
      .wc-tabs > * {
        margin-left: 37.10145px; } }
    @media only screen and (max-width: 1024px) {
      .wc-tabs > * {
        margin-left: 30.23622px; } }
    @media only screen and (max-width: 768px) {
      .wc-tabs > * {
        margin-left: 25.51495px; } }
    @media only screen and (max-width: 320px) {
      .wc-tabs > * {
        margin-left: 22.06897px; } }
  .wc-tabs > :not(.active) a {
    text-decoration: none; }
  .wc-tabs > .active a {
    text-decoration: underline; }

.woocommerce-product-gallery,
.entry-summary {
  margin-bottom: 96px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-product-gallery,
    .entry-summary {
      margin-bottom: 70.13699px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-product-gallery,
    .entry-summary {
      margin-bottom: 55.2518px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-product-gallery,
    .entry-summary {
      margin-bottom: 45.57864px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-product-gallery,
    .entry-summary {
      margin-bottom: 38.78788px; } }

.c-woo-section:not(:empty):before {
  content: "";
  display: block;
  height: 1px;
  background: currentColor;
  opacity: 0.2;
  margin-top: 96px;
  margin-bottom: 96px; }
  @media only screen and (max-width: 1360px) {
    .c-woo-section:not(:empty):before {
      margin-top: 70.13699px; } }
  @media only screen and (max-width: 1024px) {
    .c-woo-section:not(:empty):before {
      margin-top: 55.2518px; } }
  @media only screen and (max-width: 768px) {
    .c-woo-section:not(:empty):before {
      margin-top: 45.57864px; } }
  @media only screen and (max-width: 320px) {
    .c-woo-section:not(:empty):before {
      margin-top: 38.78788px; } }
  @media only screen and (max-width: 1360px) {
    .c-woo-section:not(:empty):before {
      margin-bottom: 70.13699px; } }
  @media only screen and (max-width: 1024px) {
    .c-woo-section:not(:empty):before {
      margin-bottom: 55.2518px; } }
  @media only screen and (max-width: 768px) {
    .c-woo-section:not(:empty):before {
      margin-bottom: 45.57864px; } }
  @media only screen and (max-width: 320px) {
    .c-woo-section:not(:empty):before {
      margin-bottom: 38.78788px; } }

.related.products > h2,
.upsells.products > h2 {
  text-align: center; }

.woocommerce[class] .product .price {
  font: inherit;
  color: inherit; }
  .woocommerce[class] .product .price del {
    opacity: 1; }
  .woocommerce[class] .product .price ins {
    font-weight: inherit;
    text-decoration: none; }

.c-product-main,
.wc-tabs-wrapper,
.related.products,
.upsells.products {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto; }

.c-product-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-product-main > .woocommerce-product-gallery {
    float: none;
    width: auto;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%; }
  .c-product-main > .entry-summary {
    float: none;
    width: auto;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-left: 128px; }
    @media only screen and (max-width: 1360px) {
      .c-product-main > .entry-summary {
        margin-left: 90.22026px; } }
    @media only screen and (max-width: 1024px) {
      .c-product-main > .entry-summary {
        margin-left: 69.65986px; } }
    @media only screen and (max-width: 768px) {
      .c-product-main > .entry-summary {
        margin-left: 56.7313px; } }
    @media only screen and (max-width: 320px) {
      .c-product-main > .entry-summary {
        margin-left: 47.85047px; } }

.c-btn--sale-flash {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
  padding: 0.6em 1.1em 0.7em 1.2em;
  pointer-events: none; }
  @media only screen and (max-width: 1360px) {
    .c-btn--sale-flash {
      top: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-btn--sale-flash {
      top: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-btn--sale-flash {
      top: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-btn--sale-flash {
      top: 10.58201px; } }
  @media only screen and (max-width: 1360px) {
    .c-btn--sale-flash {
      left: 14.1844px; } }
  @media only screen and (max-width: 1024px) {
    .c-btn--sale-flash {
      left: 12.73885px; } }
  @media only screen and (max-width: 768px) {
    .c-btn--sale-flash {
      left: 11.56069px; } }
  @media only screen and (max-width: 320px) {
    .c-btn--sale-flash {
      left: 10.58201px; } }

.c-mini-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000; }
  .admin-bar .c-mini-cart {
    top: 32px; }
  .demo-site .c-mini-cart {
    top: 80px; }
  .admin-bar.demo-site .c-mini-cart {
    top: 112px; }
  @media (max-width: 782px) {
    .admin-bar .c-mini-cart {
      top: 46px; }
    .admin-bar.demo-site .c-mini-cart {
      top: 126px; } }
  @media (max-width: 700px) {
    .admin-bar.demo-site .c-mini-cart {
      top: 146px; } }
  .c-mini-cart .widget_shopping_cart:before {
    content: "";
    display: block;
    height: 10px;
    opacity: 0.2;
    -webkit-box-shadow: inset 0 10px 10px -10px currentColor;
            box-shadow: inset 0 10px 10px -10px currentColor; }
  .c-mini-cart .woocommerce-mini-cart[class] {
    padding: 40px;
    overflow-y: auto; }
  .c-mini-cart .woocommerce-mini-cart__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .c-mini-cart .woocommerce-mini-cart__total[class][class] {
      border-top: 0;
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px; }
    .c-mini-cart .woocommerce-mini-cart__total:before {
      content: "";
      display: block;
      height: 10px;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 20px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
      opacity: 0.2;
      -webkit-box-shadow: inset 0 -10px 10px -10px currentColor;
              box-shadow: inset 0 -10px 10px -10px currentColor; }
    .c-mini-cart .woocommerce-mini-cart__total .amount {
      margin-left: auto; }
  .c-mini-cart .woocommerce-mini-cart__buttons {
    padding: 20px;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .c-mini-cart .woocommerce-mini-cart__buttons[class][class][class][class] > a {
      display: block; }
    .c-mini-cart .woocommerce-mini-cart__buttons[class][class][class][class] > a:not(:last-child) {
      margin-top: 10px; }
    .c-mini-cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout)[class][class][class] {
      position: relative;
      background: none;
      color: inherit; }
      .c-mini-cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout)[class][class][class]:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        border: 2px solid;
        pointer-events: none; }
      .c-mini-cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout)[class][class][class]:hover {
        color: inherit; }

.woocommerce-mini-cart__empty-message {
  padding: 20px; }

.c-mini-cart__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.2; }

.c-mini-cart__flyout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  background: #FFFFFF; }
  .c-mini-cart__flyout,
  .c-mini-cart__flyout .widget_shopping_cart,
  .c-mini-cart__flyout .widget_shopping_cart_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .c-mini-cart__flyout .widget_shopping_cart,
  .c-mini-cart__flyout .widget_shopping_cart_content,
  .c-mini-cart__flyout .woocommerce-mini-cart {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.widget_shopping_cart_content > :not(.woocommerce-mini-cart) {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.c-mini-cart[class] .cart_list li,
.c-mini-cart[class] .product_list_widget li {
  padding: 0; }

.c-mini-cart[class] .cart_list li + li,
.c-mini-cart[class] .product_list_widget li + li {
  margin-top: 30px; }

.c-mini-cart[class] .cart_list a:not(.remove),
.c-mini-cart[class] .product_list_widget a:not(.remove) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none; }

.c-mini-cart[class] .cart_list a.remove[class],
.c-mini-cart[class] .product_list_widget a.remove[class] {
  top: auto;
  left: auto;
  bottom: 0.25em;
  right: 0;
  background: none;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999em;
  color: inherit !important; }
  .c-mini-cart[class] .cart_list a.remove[class]:before, .c-mini-cart[class] .cart_list a.remove[class]:after,
  .c-mini-cart[class] .product_list_widget a.remove[class]:before,
  .c-mini-cart[class] .product_list_widget a.remove[class]:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: currentColor; }
  .c-mini-cart[class] .cart_list a.remove[class]:before,
  .c-mini-cart[class] .product_list_widget a.remove[class]:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .c-mini-cart[class] .cart_list a.remove[class]:after,
  .c-mini-cart[class] .product_list_widget a.remove[class]:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }

.c-mini-cart[class] .cart_list img,
.c-mini-cart[class] .product_list_widget img {
  display: block;
  float: none;
  width: auto;
  margin: 0;
  margin-top: 6px;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10; }

.c-mini-cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px; }

.c-mini-cart__title[class] {
  margin-bottom: 0; }

.c-mini-cart__close {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-indent: -9999em;
  margin-left: auto;
  cursor: pointer; }
  .c-mini-cart__close:before, .c-mini-cart__close:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: currentColor; }
  .c-mini-cart__close:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .c-mini-cart__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }

.c-mini-cart__overlay,
.c-mini-cart__flyout {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.c-mini-cart:not(.c-mini-cart--visible) {
  pointer-events: none; }
  .c-mini-cart:not(.c-mini-cart--visible) .c-mini-cart__overlay {
    opacity: 0; }
  .c-mini-cart:not(.c-mini-cart--visible) .c-mini-cart__flyout {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }

.woocommerce-cart[class][class] .entry-title {
  max-width: none; }

.woocommerce-cart[class][class] .entry-header {
  padding-bottom: 32px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-cart[class][class] .entry-header {
      padding-bottom: 25.22167px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-cart[class][class] .entry-header {
      padding-bottom: 20.81301px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-cart[class][class] .entry-header {
      padding-bottom: 17.71626px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-cart[class][class] .entry-header {
      padding-bottom: 15.42169px; } }

.woocommerce-cart table.cart {
  margin-bottom: 144px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-cart table.cart {
      margin-bottom: 99.74026px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-cart table.cart {
      margin-bottom: 76.29139px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-cart table.cart {
      margin-bottom: 61.76944px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-cart table.cart {
      margin-bottom: 51.89189px; } }
  .woocommerce-cart table.cart td {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .woocommerce-cart table.cart td.product-name a {
    border-bottom: 0;
    text-decoration: none; }
  .woocommerce-cart table.cart .product-thumbnail a {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 0;
    background: none; }
  .woocommerce-cart table.cart .product-remove a {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    text-indent: -9999em;
    color: inherit !important;
    background: none; }
    .woocommerce-cart table.cart .product-remove a:before, .woocommerce-cart table.cart .product-remove a:after {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: currentColor; }
    .woocommerce-cart table.cart .product-remove a:before {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
    .woocommerce-cart table.cart .product-remove a:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
  .woocommerce-cart table.cart a {
    display: block; }
  .woocommerce-cart table.cart img {
    display: block;
    width: 150px; }
  .woocommerce-cart table.cart .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.shop_table tr {
  border: 0; }

.shop_table[class][class][class] {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin-bottom: 0; }
  .cart-collaterals .shop_table[class][class][class] {
    border-bottom: 0; }
  .shop_table[class][class][class] td, .shop_table[class][class][class] th {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    @media only screen and (min-width: 768px) {
      .shop_table[class][class][class] td:first-child, .shop_table[class][class][class] th:first-child {
        padding-left: 0; }
      .shop_table[class][class][class] td:last-child, .shop_table[class][class][class] th:last-child {
        padding-right: 0; } }

.shop_table[class] #shipping_method li {
  margin-bottom: 20px; }
  @media only screen and (max-width: 1360px) {
    .shop_table[class] #shipping_method li {
      margin-bottom: 16px; } }
  @media only screen and (max-width: 1024px) {
    .shop_table[class] #shipping_method li {
      margin-bottom: 13.33333px; } }
  @media only screen and (max-width: 768px) {
    .shop_table[class] #shipping_method li {
      margin-bottom: 11.42857px; } }
  @media only screen and (max-width: 320px) {
    .shop_table[class] #shipping_method li {
      margin-bottom: 10px; } }

.shop_table .cart-subtotal td:last-child,
.shop_table .order-total td:last-child {
  text-align: right; }

.cart_totals .checkout-button[class][class][class] {
  display: block; }

.woocommerce-cart .wc-proceed-to-checkout {
  padding: 0; }

.woocommerce-cart #content table.cart[class] .coupon .input-text {
  width: 200px; }

.shipping-calculator-button {
  opacity: 0.5; }
  .shipping-calculator-button[class][class]:after {
    content: none; }

.woocommerce-cart-form + .cart-collaterals {
  margin-top: 120px; }
  @media only screen and (max-width: 1360px) {
    .woocommerce-cart-form + .cart-collaterals {
      margin-top: 85.33333px; } }
  @media only screen and (max-width: 1024px) {
    .woocommerce-cart-form + .cart-collaterals {
      margin-top: 66.2069px; } }
  @media only screen and (max-width: 768px) {
    .woocommerce-cart-form + .cart-collaterals {
      margin-top: 54.08451px; } }
  @media only screen and (max-width: 320px) {
    .woocommerce-cart-form + .cart-collaterals {
      margin-top: 45.71429px; } }

.woocommerce-cart .actions .coupon[class][class] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px; }
  .woocommerce-cart .actions .coupon[class][class] > .input-text,
  .woocommerce-cart .actions .coupon[class][class] > .button {
    margin-left: 10px; }
  .woocommerce-cart .actions .coupon[class][class] > .input-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: auto; }

.woocommerce .quantity .qty {
  padding-left: 0;
  padding-right: 0; }

.shop_table .shipping [data-title]:before {
  margin-bottom: 20px; }
  @media only screen and (max-width: 1360px) {
    .shop_table .shipping [data-title]:before {
      margin-bottom: 16px; } }
  @media only screen and (max-width: 1024px) {
    .shop_table .shipping [data-title]:before {
      margin-bottom: 13.33333px; } }
  @media only screen and (max-width: 768px) {
    .shop_table .shipping [data-title]:before {
      margin-bottom: 11.42857px; } }
  @media only screen and (max-width: 320px) {
    .shop_table .shipping [data-title]:before {
      margin-bottom: 10px; } }
  @media not screen and (min-width: 768px) {
    .shop_table .shipping [data-title]:before {
      float: none;
      display: block;
      text-align: left;
      margin-bottom: 20px; } }

.woocommerce-checkout .col2-set .col-1,
.woocommerce-checkout .col2-set .col-2 {
  float: none;
  width: auto; }

@media only screen and (min-width: 62.5em) {
  .woocommerce-checkout .col2-set {
    float: left;
    width: 55%;
    padding-left: 5.25%;
    padding-right: 8.75%; }
  .woocommerce-checkout [id="order_review_heading"],
  .woocommerce-checkout .woocommerce-checkout-review-order {
    float: right;
    clear: right;
    width: 45%;
    padding-left: 3.5%;
    padding-right: 5.25%; }
  .woocommerce-checkout .woocommerce-checkout {
    position: relative; }
    .woocommerce-checkout .woocommerce-checkout:before {
      display: block;
      content: "";
      position: absolute;
      top: -9999vh;
      right: -100vw;
      bottom: -9999vh;
      left: 55%;
      pointer-events: none;
      opacity: 0.02; }
    .woocommerce-checkout .woocommerce-checkout:after {
      content: " ";
      display: table;
      clear: both; }
    .woocommerce-checkout .woocommerce-checkout > * {
      position: relative;
      z-index: 20; } }

.woocommerce-checkout table.shop_table {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;
  margin: 0; }
  .woocommerce-checkout table.shop_table tbody,
  .woocommerce-checkout table.shop_table tfoot,
  .woocommerce-checkout table.shop_table thead {
    border: 0; }
  .woocommerce-checkout table.shop_table td, .woocommerce-checkout table.shop_table th {
    padding-top: 24px;
    padding-bottom: 24px; }
    .woocommerce-checkout table.shop_table td:first-child, .woocommerce-checkout table.shop_table th:first-child {
      padding-left: 0; }
    .woocommerce-checkout table.shop_table td:last-child, .woocommerce-checkout table.shop_table th:last-child {
      padding-right: 0;
      text-align: right; }

.woocommerce-checkout #shipping_method[id] li {
  margin-bottom: 0; }
  .woocommerce-checkout #shipping_method[id] li + li {
    margin-top: 20px; }

.woocommerce-checkout #payment #place_order {
  float: none;
  display: block;
  width: 100%;
  margin-top: 20px; }

.woocommerce-checkout form .form-row {
  padding: 0; }
  .woocommerce-checkout form .form-row:not(:last-child) {
    margin-bottom: 24px; }
    @media only screen and (max-width: 1360px) {
      .woocommerce-checkout form .form-row:not(:last-child) {
        margin-bottom: 19.10448px; } }
    @media only screen and (max-width: 1024px) {
      .woocommerce-checkout form .form-row:not(:last-child) {
        margin-bottom: 15.86777px; } }
    @media only screen and (max-width: 768px) {
      .woocommerce-checkout form .form-row:not(:last-child) {
        margin-bottom: 13.5689px; } }
    @media only screen and (max-width: 320px) {
      .woocommerce-checkout form .form-row:not(:last-child) {
        margin-bottom: 11.85185px; } }
  .woocommerce-checkout form .form-row label {
    font-weight: 700;
    margin-bottom: 12px; }
    @media only screen and (max-width: 1360px) {
      .woocommerce-checkout form .form-row label {
        margin-bottom: 11.3852px; } }
    @media only screen and (max-width: 1024px) {
      .woocommerce-checkout form .form-row label {
        margin-bottom: 10.83032px; } }
    @media only screen and (max-width: 768px) {
      .woocommerce-checkout form .form-row label {
        margin-bottom: 10.32702px; } }
    @media only screen and (max-width: 320px) {
      .woocommerce-checkout form .form-row label {
        margin-bottom: 9.86842px; } }
  .woocommerce-checkout form .form-row input.input-text,
  .woocommerce-checkout form .form-row textarea {
    line-height: inherit; }

.woocommerce-checkout .woocommerce-form-coupon-toggle,
.woocommerce-checkout .woocommerce-form-coupon {
  position: relative;
  z-index: 20; }

.woocommerce-checkout .woocommerce-form-coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: -20px; }
  .woocommerce-checkout .woocommerce-form-coupon > p:not([class]) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px; }
  .woocommerce-checkout .woocommerce-form-coupon > p {
    width: auto;
    padding-left: 20px; }
  .woocommerce-checkout .woocommerce-form-coupon button {
    height: 100%; }
  .woocommerce-checkout .woocommerce-form-coupon .form-row-first {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.woocommerce-checkout .clear {
  display: none; }

.woocommerce-checkout .woocommerce-info {
  margin-bottom: 20px; }

@media not screen and (min-width: 62.5em) {
  .woocommerce-checkout .site-content {
    padding-top: 0; } }

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: none;
  border-radius: 0; }
  #add_payment_method #payment ul.payment_methods,
  .woocommerce-cart #payment ul.payment_methods,
  .woocommerce-checkout #payment ul.payment_methods {
    padding: 0;
    border: 0; }
  #add_payment_method #payment .wc_payment_method,
  .woocommerce-cart #payment .wc_payment_method,
  .woocommerce-checkout #payment .wc_payment_method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 24px;
    padding-bottom: 24px; }
    #add_payment_method #payment .wc_payment_method label,
    .woocommerce-cart #payment .wc_payment_method label,
    .woocommerce-checkout #payment .wc_payment_method label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #add_payment_method #payment .wc_payment_method label > *,
      .woocommerce-cart #payment .wc_payment_method label > *,
      .woocommerce-checkout #payment .wc_payment_method label > * {
        margin-left: 10px; }
  #add_payment_method #payment div.payment_box,
  .woocommerce-cart #payment div.payment_box,
  .woocommerce-checkout #payment div.payment_box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 38px;
    margin-bottom: 0;
    padding: 0;
    opacity: 0.8;
    background: none; }
    #add_payment_method #payment div.payment_box:before,
    .woocommerce-cart #payment div.payment_box:before,
    .woocommerce-checkout #payment div.payment_box:before {
      content: none; }
  #add_payment_method #payment .about_paypal[class],
  .woocommerce-cart #payment .about_paypal[class],
  .woocommerce-checkout #payment .about_paypal[class] {
    line-height: inherit; }
  #add_payment_method #payment div.form-row,
  .woocommerce-cart #payment div.form-row,
  .woocommerce-checkout #payment div.form-row {
    padding: 0; }

.woocommerce-terms-and-conditions-wrapper[class][class] > * {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  padding-bottom: 24px; }

.woocommerce-terms-and-conditions-wrapper[class][class] .validate-required {
  margin-bottom: 0; }
  .woocommerce-terms-and-conditions-wrapper[class][class] .validate-required .woocommerce-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }
  .woocommerce-terms-and-conditions-wrapper[class][class] .validate-required .woocommerce-form__input {
    margin-top: 0;
    margin-right: 10px; }

.entry-title--woocommerce,
.woocommerce-products-header__title {
  text-align: center; }
