.u-widget-title-sideways {

  .widget.widget_featured_posts_carousel {
    @include below( 'lap' ) {
      padding-left: 0;

      .widget__title {
        display: none;
      }
    }
  }
}

.slick-slide {
  position: relative;
}

.slick-arrow {
  @include button-directional;

  position: absolute;
  top: 0;
  z-index: 30;

  width: 7em;
  height: 100%;

  cursor: pointer;

  &.slick-disabled {
    opacity: 0;
  }
}

.slick-next {
  @include directional--right;
  padding-right: 0;
  right: 0;
}

.slick-prev {
  @include directional--left;
  padding-left: 0;
  left: 0;
}

$slick-dot-size: 10px !default;

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  // %widget-posts adds flex-basis: 33% to all it's children and needs overwritten
  .featured-posts-carousel > & {
    flex-basis: 100%;
  }

  .widget &[class][class] > * {
    margin: 0;
  }

  button {
    display: block;
    padding: 0;
    margin: 0 0.75em;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    background: transparent;
    color: inherit;
    outline: 0;
  }

  .slick-active {
    color: $theme-accent-color;

    button {
      border-bottom-color: currentColor;
    }
  }

  @include below(lap) {

    button {
      font-size: 0;
      background: currentColor;
      border: 0;
      border-radius: 50%;
      width: $slick-dot-size;
      height: $slick-dot-size;
      margin: 0 5px;
    }
  }
}

.slick-dots .slick-active > a {
  text-decoration: underline;
}


.widget_featured_posts_carousel {

  .slick-slider {
    z-index: 2;

    @include above('lap') {
      display: flex;
      flex-flow: row wrap;

      .slick-list {
        flex: 1;
        order: 0;

        margin-right: 30px;
        margin-left: 30px;

        .u-widget-title-sideways & {
          margin-left: 0;
        }

        @include above(lap) {
          flex: auto;
        }
      }

      &[data-items_layout='variable_width'] {
        .c-card {
          display: table;
          width: 1px;
        }

        .c-card__content,
        .c-card__aside {
          display: table-row;
        }

        .c-card__content > :first-child {
          padding-top: 1em;
        }

        .c-card__frame {
          padding-top: 0;

          img {
            height: 300px;
            position: static;
            width: auto;
            max-width: none;
          }
        }
      }
    }

    .slick-slide {
      @include spacing(padding-left, $featured-posts-horizontal-spacing/2);
      @include spacing(padding-right, $featured-posts-horizontal-spacing/2);
      transition: opacity $transition--macro ease-in-out;
    }

    .slick-dots {
      @include spacing(margin-top, 4rem);
    }
  }
}

.featured-posts-cards--mobile {
  z-index: 2;

  @include below(lap) {
    padding-bottom: 50px;
  }

  .slick-slide {
    @include spacing(padding-left, $featured-posts-horizontal-spacing/2);
    @include spacing(padding-right, $featured-posts-horizontal-spacing/2);
    transition: opacity $transition--macro ease-in-out;
  }

  @include below(lap) {

    .slick-slide:not(.slick-active) {
      opacity: 0.5;
    }
  }
}
