$typography-intro-font: (
  font-size: 30px,
  line-height: 1.5
) !default;

$typography-intro-large-font: (
  font-size: 36px,
  line-height: 1.38
) !default;

.intro {
	@include leading-map($typography-intro-font);
}

.intro.large {
	@include leading-map($typography-intro-large-font);
}
