$body-link-color:               #3B3B3B   !default;
$body-link-active-color:        #DFA671   !default;
$body-link-highlight-color:     #E9F2F7   !default;

$body-link-class: '.u-underlined-links .entry-content a, .u-underlined-links .c-hero__content a' !default;

@mixin link {
  color: $body-link-color;
  text-decoration: none;

  img {
    transition: opacity $transition--macro ease-out;
  }

  &:hover,
  &:active {
    color: $body-link-active-color;
    text-decoration: underline;

    img {
      opacity: 0.8;
    }
  }
}

@mixin link--content {
  position: relative;

  padding-left: 2px;
  padding-right: 2px;

  background-color: $body-link-highlight-color;

  &:hover {
  }
}

@mixin link--reset {
  padding: 0;
  background: none;
  box-shadow: none;
  transition: none;

  &:hover {
    box-shadow: none;
  }
}

#{$body-link-class} {
  text-decoration: none;

  transition: all 0.15s ease-out;
  transition-property: box-shadow, color, opacity;

  text-decoration: none;
  border-bottom: 0.07em solid;

  &:hover {

  }
}

a {
  @include link;
}

// Link with Arrow
.link--arrow {
  // padding: 0 16px 0 8px;
  position: relative;
  // display: block; // used for hover animation
  transition: all 0.2s ease;
  border-bottom: none;
  text-decoration: none;

  &:after,
  &:before {
    display: none;
    content: " ";
    width: 13px;
    height: 11px;
    margin-left: 10px;

    background: url('assets/images/directional-arrow.svg') 100% center no-repeat;

    speak: none;
    user-select: none;

    transition: all 0.2s ease;
  }

  &:after {
    display: inline-block;
  }

  &:hover {
    transform: translateX(5px); // see display: block

    text-decoration: none;

    &:before,
    &:after {
      opacity: 0.4;
    }
  }

  // Left Side Arrow Modifier
  &.left {
    &:after {
      display: none;
    }

    &:before {
      display: inline-block;
      transform: rotate(180deg);
      margin-left: 0;
      margin-right: 10px;
    }

    &:hover {
      transform: translateX(-5px); // see display: block
    }
  }

  // White Arrow
  &.light {
    &:after {
      background: url('assets/images/directional-arrow-white.svg') 100% center no-repeat;
    }
  }
}
