pre {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;

	@include spacing(padding, 1rem);
	@include spacing(margin-bottom, 2rem);

	border: 1px solid currentColor;
}
