table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	@include spacing(margin-bottom, 2rem);

	th {
		text-align: left;
	}

	th,
	td {
		vertical-align: middle;
	}


	tr,
	thead,
	tbody,
	tfoot {
		border-bottom: 1px solid;

		&:last-child {
			border-bottom: 0;
		}
	}

	th,
	td {
		padding: .5em;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}
