[data-rellax] {
    will-change: transform;
}

[data-rellax-container] {
    overflow: hidden;

    [data-rellax] {
        opacity: 0;

        &.rellax-active {
            animation: fade-in .2s bezier(easeOutQuad) forwards;
        }
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.rellax-element.rellax-hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0s .3s linear;
}
