$nav-mobile-width:          75vw                    !default;
$nav-mobile-background:     #FBFBFB                 !default;
$nav-mobile-color:          #000000                 !default;

.c-navbar {
    .menu-item-has-children,
    .page_item_has_children {
        & > a {
            display: flex;
            align-items: center;
        }
    }
}

.c-navbar__content {
    position: fixed;
    top: 0;
    left: -100%;

    display: flex;
    flex-direction: column;

    width: $nav-mobile-width;
    height: 100vh !important;
    overflow-y: auto;

    background: $nav-mobile-background;
    border: 0 solid transparent;

    -webkit-overflow-scrolling: touch;

    a {
        padding: 0.625em;
        margin: 0 -0.625em;
    }

    .c-navbar__checkbox:checked ~ & {
        left: 0;
    }
}

.c-navbar__label {
    z-index: 1;

    display: flex;
    align-items: center;

    cursor: pointer;

    & > * {
        flex-shrink: 0;
    }
}
