// Portfolio Grid
// =========================================================

$valid-grid-layouts: regular mosaic packed masonry !default;

$portfolio-grid-width: 1300px !default;
$portfolio-sides-spacing: 70px !default;

$portfolio-card-title-font-size: 17px !default;
$portfolio-card-title-line-height: 1.5 !default;
$portfolio-card-title-letter-spacing: 0 !default;
$portfolio-card-title-color: #252525 !default;

.u-portfolio-grid-width {
	max-width: $portfolio-grid-width;
}

.u-portfolio-sides-spacing {
	@include spacing(padding-left, $portfolio-sides-spacing);
	@include spacing(padding-right, $portfolio-sides-spacing);
	border: solid 0 transparent;
}

$portfolio-grid-layout: packed !default;
$portfolio-items-aspect-ratio: 3/4 !default;
$portfolio-grid-vertical-spacing: 150px !default;
$portfolio-grid-horizontal-spacing: 40px !default;

$portfolio-grid-columns: 4 !default;
$portfolio-grid-columns-at-lap: if($portfolio-grid-columns >= 5, $portfolio-grid-columns - 1, $portfolio-grid-columns);
$portfolio-grid-columns-at-small: if($portfolio-grid-columns-at-lap >= 4, $portfolio-grid-columns-at-lap - 1, $portfolio-grid-columns-at-lap);

$portfolio-primary-meta-color: #3B3B3B !default;
$portfolio-secondary-meta-color: #828282 !default;
$portfolio-thumbnail-background: #EEEEEE !default;

$portfolio-thumbnail-background-opacity: 0.5 !default;
$portfolio-content-position: below;
$portfolio-content-alignment: top left;

$portfolio-title-visibility: true !default;
$portfolio-excerpt-visibility: true !default;

$portfolio-packed-ratio: 2.275 !default;

@if ( null == index( $valid-grid-layouts, $portfolio-grid-layout ) ) {
	@warn "$portfolio-grid-layout should be one of #{$valid-grid-layouts}";
	$portfolio-grid-layout: regular;
}

.c-gallery--portfolio {
	@include spacing(margin-top, -$portfolio-grid-vertical-spacing);
	@include spacing(margin-left, -$portfolio-grid-horizontal-spacing);

	> * {
		@include spacing(margin-top, $portfolio-grid-vertical-spacing);
		@include spacing(padding-left, $portfolio-grid-horizontal-spacing);
	}

	.c-card__title {
		color: $portfolio-card-title-color;

		@include leading-map((
			font-size: $portfolio-card-title-font-size,
			line-height: $portfolio-card-title-line-height,
			letter-spacing: $portfolio-card-title-letter-spacing
		));
	}

	.c-card__meta-primary {
		color: $portfolio-primary-meta-color;
	}

	.c-card__meta-secondary {
		color: $portfolio-secondary-meta-color;
	}

	.c-card__frame {
		background-color: $portfolio-thumbnail-background;
	}
}

.no-customify {

	@if ($portfolio-title-visibility != true) {
		.c-card__title {
			display: none;
		}
	}

	@if ($portfolio-excerpt-visibility != true) {
		.c-card__excerpt {
			display: none;
		}
	}

	@if ($portfolio-content-position == above) {
		@include gallery-title-above;
	}

	@if ($portfolio-content-position == overlay) {
		@include gallery-title-overlay;
	}

	@if ( packed == $portfolio-grid-layout ) {
		$typeline-points: map-get(map-get($typeline-config, spacings), points);
		$normal: calc( #{percentage($portfolio-packed-ratio / $portfolio-grid-columns)} - #{$portfolio-grid-vertical-spacing * $portfolio-packed-ratio} );
		$featured: calc( #{percentage(2 * $portfolio-packed-ratio / $portfolio-grid-columns)} - #{$portfolio-grid-vertical-spacing * (2 * $portfolio-packed-ratio - 1)} );

		$factor-at-lap: ( getY( nth($typeline-points, 1), nth($typeline-points, 2), nth($typeline-points, 3), $portfolio-grid-vertical-spacing ) - 1 ) * 1 / 3 + 1;
		$value-at-lap: round( $portfolio-grid-vertical-spacing / $factor-at-lap);
		$normal-at-lap: calc( #{percentage($portfolio-packed-ratio / $portfolio-grid-columns-at-lap)} - #{$value-at-lap * $portfolio-packed-ratio} );
		$featured-at-lap: calc( #{percentage(2 * $portfolio-packed-ratio / $portfolio-grid-columns-at-lap)} - #{$value-at-lap * (2 * $portfolio-packed-ratio - 1)} );

		$factor-at-small: ( getY( nth($typeline-points, 1), nth($typeline-points, 2), nth($typeline-points, 3), $portfolio-grid-vertical-spacing ) - 1 ) * 2 / 3 + 1;
		$value-at-small: round( $portfolio-grid-vertical-spacing / $factor-at-small );
		$normal-at-small: calc( #{percentage($portfolio-packed-ratio / $portfolio-grid-columns-at-small)} - #{$value-at-small * $portfolio-packed-ratio} );
		$featured-at-small: calc( #{percentage(2 * $portfolio-packed-ratio / $portfolio-grid-columns-at-small)} - #{$value-at-small * (2 * $portfolio-packed-ratio - 1)} );

		.c-gallery--portfolio {
			@include gallery-cropped;
			@include gallery-packed;

			.c-gallery__item {

				@include above(small) {
					padding-top: $normal-at-small;
				}

				@include above(lap) {
					padding-top: $normal-at-lap;
				}

				@include above(desk) {
					padding-top: $normal;
				}
			}

			.c-card {
				@include spacing(left, $portfolio-grid-horizontal-spacing);
			}
		}
	}

	@if ( regular == $portfolio-grid-layout ) {

		.c-gallery--portfolio {
			@include gallery-cropped;

			.c-card__frame {
				padding-top: percentage(1/$portfolio-items-aspect-ratio);
			}
		}
	}

	@if ( mosaic == $portfolio-grid-layout ) {

		.c-gallery--portfolio {
			@include gallery-cropped;
			@include gallery-mosaic;

			.c-card__frame {
				padding-top: percentage(1/$portfolio-items-aspect-ratio);
			}
		}
	}

}
